body{ width: 2000px;
	
}
.header{	width:100%;
			height:110px;
			background-color:#ff5959;
			
	
}
#logo{ margin-top: 20px;
        margin-left: 376px;
        float: left;
    }

.menu li{   float:right;
            list-style: none;
            margin-top: 40px;
            font-family: sans-serif;
            font-size: 16px;
                
            
}
.menu li a{text-decoration: none;
            color: blue;
            padding: 10px;
            color: white
}
.menu li a:hover{
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        color: black;
}
.banner{
    width: 100%;
    height: 800px;
    background-color: floralwhite;
}
.our_team {
    margin-left: 50px;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: #ff5959;
    border-radius: 10px;
    float: left;
    height: 40px;
    width: 140px;
    text-align: center;
    
}
.join_us{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ff5959;
    border-radius:10px;
    float: left;
    height: 40px;
    width: 140px;
    margin-left: 5px;
    text-align: center;
    
     
}
.banner_image{
    float: right;
    
    margin-right: 100px;
    margin-top: 250px;
    
}

.middle{
    width: 450px;
    float: left;
    margin-left: 350px;
    margin-top: 150px;
    text-align: justify;
}

.middle h1{
    font-weight: 1500;
    font-stretch: extra-expanded;
    font-family: monospace;
}

.services{
    width: 100%;
    background-color: #E8E8E8;
    height: 650px;
}

.services_top{
    background: url(images/service_top.png) bottom center no-repeat;
    text-align: center;
    float: left;
   margin-left: 773px;
    margin-bottom: 100px;
    
}

.services1{
    clear: both;
    width: 300px;
    text-align: center;
   
    float: left;
    margin-left: 380px;
}
.services2{
    width: 300px;
    text-align: center;
    
    float: left;
    margin-left: 50px;
}
.services3{
    width: 300px;
    text-align: center;
 
    float: left;
    margin-left: 50px;
}

.portfolio{
    height: 850px;
    background-color:#ff5959;
    width: 100%;
    
}

.pro1{
    margin-top: 150px;
    margin-left: 350px;
    padding: 20px;
    float: left;
}

.pro2{
    margin-top: 10px;
    margin-left: 350px;
    padding: 20px;
    float: left;
}
#port1{
    margin-left: 20px;}

#port2{
    margin-left: 20px;}

.wonderful_team{
    width: 100%;
    height: 750px;
    background-color: #e8e8e8;
}
.wonderful_top{
    background: url(images/slice.png) bottom center no-repeat;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 700px;
}

.staff1{
    width: 300px;
    float: left;
    text-align: center;
    clear: both;
    margin-top: 20px;
    padding: 0;
    margin-left: 250px;
    
}
.staff2{
    width: 300px;
    float: left;
    text-align: center;
    
    margin-top: 20px;
    padding: 0;
    margin-right: 20px;
    
}
.staff3{
    width: 300px;
    float: left;
    text-align: center;
    
    margin-top: 20px;
    padding: 0;
    margin-right: 50px;
  
    
}
.staff4{
    width: 300px;
    float: left;
    text-align: center;
    
    margin-top: 20px;
    padding: 0;
    margin-right: 50px;
}
.latest_news{
    height: 730px;
    width: 100%;
    background-color: #ff5959;
    float: left;
}
.news_slice{
    background: url(images/slice_white.png) no-repeat bottom center;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-family: sans-serif;
}
.news_1{
    float: left;
    margin-left: 370px;
    text-align: justify;
    width: 400px;
    color: white;
    margin-top: 73px;
}
.news_2{
    float: left;
    margin-left: 20px;
    text-align: justify;
    width: 400px;
    color: white;
    margin-top: 73px;
}
.news_3{
    float: left;
    margin-left: 20px;
    text-align: justify;
    width: 400px;
    color: white;
    margin-top: 73px;
}
#news_date{
    padding-right: 15px;
}
#news_date2{
    padding-right: 15px;
    padding-left: 80px;
}
.news_comment{
    float: left;
}

.contact_us{
    height: 530px;
    float: left;
    background-color: #e8e8e8;
    width: 100%;
}
.contact_form{
    float: left;
    width:60%;
}
.contact_header{
    background: url(images/slice.png) no-repeat bottom center;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
input[type=text]{
    width: 45%;
    padding: 12px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 100px;
    height: 50px;
    float: left;
}
input[type=text message{
    height: 150px;
}
.contact_information{
    float: left;
    width: 40%;
    
}